<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.wego.web.brd.ArticlesMapper">
 
   <select id="listArticle" resultType="String">
  	SELECT COUNT(*) 
	FROM ARTICLE
	<!-- WHERE UID LIKE #{uid} -->
   </select>
   
	<insert id="insertArticle" parameterType="Article">
       insert into article (uid,board_Type,title,content) values (
           #{uid}, #{boardType},#{title}, #{content}
       )
   </insert>
   <select  id="selectAll" resultType="Article" >
   SELECT A.BOARD_TYPE AS boardType, A.* FROM ARTICLE A
   </select>
   <select id="deleteArticle" resultType="Article">
   DELETE FROM ARTICLE WHERE TITLE = #{title}
   </select>
   <select  id="updateArticle" resultType="Article">
    UPDATE ARTICLE SET
	TITLE = #{title},
	CONTENT = #{content}
	WHERE ARTSEQ = #{artseq}
   </select>
   
</mapper>